<nav>
  <ul class="pagination">
    <li class="page-item"
        [cqClass]="{disabled: currentPage === 0}">
      <a href="" class="page-link"
         (click)="$event.preventDefault(); currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *cqTimes="images.length; let i = index" class="page-item">
      <li *ngIf="checkWindowIndex(i)" [cqClass]="{active: i === currentPage}">
        <a href="" class="page-link"
           (click)="$event.preventDefault(); currentPage = i">{{i + 1}}</a>
      </li>
    </ng-container>
    <li class="page-item"
        [cqClass]="{disabled: currentPage === images.length - 1}">
      <a href="" class="page-link"
         (click)="$event.preventDefault(); currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" [alt]="images[currentPage].title">
</div>
